.App {
  text-align: left;
  padding: 1em;
  color: black;
}

.todo-item-label {
  display: inline-block;
  position: relative;
  padding-left: calc(20px + 2vmin);
  margin-bottom: 1vmin;
}

.todo-item-text {
  display: inline-block;
}

.pseudo-checkbox {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: -2vmin;
  height: calc(10px + 2vmin);
  width: calc(10px + 2vmin);
  background-color: white;
  border: 2px solid black;
}

input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.pseudo-checkbox:hover {
  background-color: rgb(163, 87, 163);
  color: white;
}

.todo-item-label input:checked ~ .pseudo-checkbox:after {
  content: "✓";
  position: absolute;
  top: -5px;
  left: 3px;
}

div.todo-item:hover button.pencil {
  visibility: visible;
}
button.pencil {
  border: none;
  visibility: hidden;
  padding-right: 0;
}

button.pencil:hover {
  color: purple;
  background: white;
}

button.pencil:active {
  color: green;
  background: white;
}

div.todo-item:hover button.delete {
  visibility: visible;
}

button.delete {
  border: none;
  visibility: hidden;
}

button.delete:hover {
  color: red;
  background: white;
}

button.delete:active {
  color: green;
  background: white;
}

.checkTextBox {
  display: inline-block;
}

span.todo-text {
  margin-right: 1em;
}
